name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build-test-deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image, test it and deploy the app
      run: |
        docker build -t my-ubuntu-image .
        docker run -t my-ubuntu-image make
    - name: Deploy
      uses:
        crazy-max/ghaction-github-pages@v1
      with:
        target_branch: gh-pages
        build_dir: build
      env:
        GITHUB_TOKEN:
          ${{ secrets.GITHUB_REPO_TOKEN }}
